/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

$darkblue1: #4E4D56;
$darkblue2: #47616F;
$lightblue1: #56C1DA;
$lightblue2: #9AC0CD;
$gray1: #E2E3E5;
$gray2: #EBECEF;
$gray3: #C9C9C9;
$gray4: #3D3537;
$darkgray: #636363;
$green: #5C963C;
$darkgreen: #45702d;
$lightgreen: #58E09A;
$purple: #7B489E;
$orange: #EE9134;
$yellow: #F7ED3E;
$white: #FFFFFF;

// can set a mixin and use with @include rounded-corners(radius)
@mixin rounded-corners($radius: 5px) {
  border-radius: $radius;
  -moz-border-radius: $radius; 
  -webkit-border-radius: $radius;
}

div {
  border: 1px black solid;
}

body {
  padding: 0px 60px;
}

#new_resource_header {
  width: 200px;
}

#search_header, #results, #search_field, #header_image, #header_image_container, .text-center {
  text-align: center;
}

#layout_top_right {
  float: right;
}

.border {
  border: 1px solid $gray3;
}

.background-gray2 {
  background: $gray2;
}

.font14 {
  font-size: 14px;
}

.font12 {
  font-size: 12px;
}

.font10 {
  font-size: 10px;
}

.height100 {
  height: 100px;
}

.radius4 {
  @include rounded-corners(4px);
}

.margin4 {
  margin: 4px;
}

#header_image {
  //background-image: url("/assets/images/profile.jpg");
  //background-repeat: no-repeat;
  //background-position: top left;
  height: 80px;
  margin-bottom: 25px;
  width: 600px;
}

.text-align-left {
  text-align: left;
}

.resource_boxes {
  float: left;
  height: 160px;
  margin: 4px;
  // overflow: hidden;
  // overflow: scroll;
  padding: 8px;
  text-align: center;
  width: 160px;
  // word-wrap: break-word;
  // word-break: break-all;
  @include rounded-corners(4px);
  &:hover {
    background: $gray2;
    cursor: pointer;
  }
}

#resource_boxes_container  {
}
